
.navbar-default {
    background-color: #1b191a;
    border-color: #1b191a;
    border-radius: 0px;
     box-shadow: none
}

.connect-me .connect{
    margin-left: 0px;
    padding: 30px
}

.connect-me .connect .h1{
 font-size: 24px ;
font-weight: bold;   
}
.connect-me .connect p{
    color: #999;
    font-size: 18px ;
    font-weight: bold; 
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
}

