body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    
    overflow: hidden;
}
/* start loading */
#loading{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 9999999999999999;
    background-color:   #09162a;;

}
/* end loading */
/* start navbar */
.navbar{
    padding: 0;
}
.navbar .navbar-brand .logo-image{
    width: 480px;
    
}
.navbar-light .navbar-nav .nav-link:hover, .btn-secondary:hover{
    color: #000;
}

.navbar .navbar-brand .logo-image,.navbar .navbar-brand .logo-name{
    display: inline-block;
}

.navbar .navbar-brand .logo-name span{
    font-family: 'Playfair Display', serif;
    font-size: 33px;
}

.navbar .navbar-brand .logo-name .logo2,.navbar-light .navbar-nav .nav-link{
    color: #fff;
    font-weight: bold;
    font-size: 22px;
}

.navbar-collapse,.navbar{
    background-color: #d20607 !important;
}
 .logoo{
    background-color: #fff !important;
}
.btn-secondary{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    background-color: #d20607 !important;
    border-color: #d20607 !important;
    
}
.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus
, .btn-secondary:focus
{
    box-shadow: none;
}
.navbar .navbar-brand{
    background-color: #fff;
}



/* end navbar */
/* slider */
.slider{
    overflow-x: hidden;
}
/* .slider .skitter{
  
    width: 100%;
   
}
.slider .skitter .container_skitter {
     height: 300px 
}

.slider .skitter .container_skitter .image_main img {
    width: 100%;} */
/* slider */
/*work*/
.eng-work{
    overflow-x: hidden;

}
.eng-work h4{
    color: #d20607 ;
}
.eng-work .do{
font-size: 30px;
}
.eng-work .eng-box{
    border: 2px solid #ccc;
    border-radius: 5px;
    height: 95%;
}
.eng-work .eng-box img{
    width: 80px;
    height: 80px;
}
.eng-work .eng-box h3{
    font-weight: bold;
}
/*//work*/
/* start services */
.services .eng-work{
    overflow-x: hidden;

}
.services  h4{
    color: #d20607 ;
    font-weight: bold;
}
.services  .do{
font-size: 30px;
}
.services  .eng-box{
    border: 2px solid #ccc;
    border-radius: 5px;
    height: 95%;
}
.services  .eng-box h3{
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 15px;
    
}
/* end services */
/* start choose */
.choose{
    background-color: #09162a;
}
.choose .choose-text .text{
    color: #d20607 ;
}
/* end choose */
.about .about-text h2{
    color: #d20607 ;
}
.about .about-text p{
    font-size: 22px;
}

/* start mission */

.mission{
    background-color: #09162a;
}
.mission .choose-text .text{
    color: #d20607 ;
}
.mission .choose-text h4{
    font-weight: bold;
}
/* end mission */
/* contact */
.contact  .contact-info h2, .contact  .contact-info strong{
    color: #ff5e15; font-weight: bold;
}
/* //contact */
/* footer */
.footer{
   
    background-color: #333;
   
    color: #fff;
}
.footer .part1 li a{
    color: #fff;
    font-weight: bold;
}
.footer .part1 li a:hover{
 text-decoration: none;
 color: red;
}
.footer .part2 {
    height: 380px;
}
.footer .part2 .img-fluid{
    height: 300px; 
    width: 100%;
}

/* //footer */
/* loading */
.sk-folding-cube {
    margin: 250px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); 
  }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d20607 ;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; 
  }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    } 
  }
  
  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    }
  }

/* loading */




.carousel-inner > .carousel-item > img{width: 100%;height: 100%;}


































