nav{
    min-height: 120px!important;
    /* position: relative; */
}

/* nav .container{position: relative} */

nav .navbar-brand img{
    width: 165px;
    height: 100px;
}

nav .navbar-nav li a{
    font-size: 16px;
    color: #2670ad!important
}

nav .my-list{
    /* position: absolute; */
    /* left: 10px;
    top: 60%; */
}

nav .my-list li a{
    margin-right: 10px;
}

.navbar-btn-circle{
    line-height: 30px;
    /* padding: 8px; */
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
    border: 1px solid #2670ad;
    font-size: 12px
}

nav .my-navbar{
    margin-top: 50px;
}

.navbar-nav > li > a {
    margin-top: 30px;
}

@media (max-width: 767px) {
    .my-list {
        /* float: left; */
        margin-bottom: 20px;
    }
    nav .my-list > li {
        float: left;
    }
    nav .navbar-btn-circle{
        display: none!important;
    }
    /* .my-list > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    } */
}

.offers{
    min-height:1800px;
    position: relative;
    overflow: hidden
       
}
.offers .my-row{margin-top: 50px;}

.offers .img-box{ border: 3px solid #ccc; border-radius: 5px;}
.offers .img-box img{
        padding: 10px;  
    width: 100%;
}

.offers .address-details{padding-top: 90px}
.offers .address-details .address{background-color:  #147066;
    color: #fff;border-radius: 10px;width: 100%;min-height: 140px}
.offers .address-details .address .fas{font-size:25px;margin-top: 10px}
.offers .address-details .address h4{padding: 10px;border-bottom: 1px solid #fff;}
.offers .address-details .address .options{color: #fff;background-color: transparent;margin-bottom: 10px}
.offers .address-details .address .btn{
    color: #fff;background-color: transparent;margin-bottom: 5px;; padding: 5px;
width: 100%;
}


.offers .prices{margin-top: 40px}

.offers  .btn{border-radius: 20px;padding: 10px 20px;margin-bottom: 15px;display: block}
.offers .net-offer {margin-top: 80px;margin-bottom: 50px}
.offers .net-offer .net{background-color: #147066}

.offers .price-btn{margin-top: 30px;}
 .offers .net-offer .net{display: block;margin-top: 10px;width: 100%; outline: none}
.offers .net-offer .net input[type=number]{
    background-color: #147066;
    width: 100%;
   
}
.offers  .net-offer  h4{margin-top: 40px;}





