

@keyframes seq-preloader {
  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}
/*loading*/
.seq-preloader {
  background: white;
  visibility: visible;
  opacity: 1;
  position: absolute;
  z-index: 9999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.seq-preloader.seq-preloaded {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s .5s, opacity .5s;
}

.seq-preload-indicator {
  overflow: visible;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.seq-preload-circle {
  display: inline-block;
  height: 12px;
  width: 12px;
  fill: #7a7a7a;
  opacity: 0;
  animation: seq-preloader 1.25s infinite;
}

.seq-preload-circle-2 {
  animation-delay: .15s;
}

.seq-preload-circle-3 {
  animation-delay: .3s;
}

.seq-preload-indicator-fallback {
  width: 42px;
  overflow: visible;
}

.seq-preload-indicator-fallback .seq-preload-circle {
  width: 8px;
  height:8px;
  background-color: #f4f4f4;
  border-radius: 100%;
  opacity: 1;
  display: inline-block;
  vertical-align: middle;
}

.seq-preload-indicator-fallback .seq-preload-circle-2 {
  margin-left: 3px;
  margin-right: 3px;
  width: 12px;
  height: 12px;
}

.seq-preload-indicator-fallback .seq-preload-circle-3 {
  width: 16px;
  height: 16px;
}
/*end loading*/

/* MAIN CSS */

@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #fff;
  }
}
@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #fff;
  }
}
@-webkit-keyframes fillColour {
  0% {
    color: #fff;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #333;
  }
}
@keyframes fillColour {
  0% {
    color: #fff;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #333;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
	overflow: hidden;
}

body {
  overflow: hidden;
  font-size: 100%;
}

nav {
	top: 10vh;
	bottom: 10vh;
  	text-align: center;
  	background: rgba(0, 0, 0, 0.5);
  	position: fixed;
  	z-index: 100;
  	min-height: 80vh;
  	left: 0;
  	width: 20%;
  	font-weight: 300;
  	font-size: 1rem;
}

nav em {
	font-style: normal;
	margin-left: 5px;
	font-size: 14px;
}

nav ul li i {
	width: 25px;
}

nav ul li a {
	font-size: 18px;
}

nav .mini-logo {
	display: none;
}

nav .logo {
	
	padding: 0px 10px;
    padding-left: 0px;
    width: 220px;
    margin: 0
    

}

nav .logo img {
	max-width: 100%;
    
	overflow-y: hidden;
    border-radius: 3%;
    
    
}

nav ul {
	margin-top: 20px;
  	text-align: center;
  	padding-left: 30px;
  	list-style-type: none;
  	height: 48vh;
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-box-orient: vertical;
  	-webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  	-ms-flex-pack: distribute;
    justify-content: space-around;
    
}
nav ul li {
	margin:0px;
    min-width: 120px;
    min-height: 30px;
    font-weight: bold
  
}


nav a, nav a:visited, nav a:active {
  color: #fff;

}

nav a {
	text-decoration: none!important;
	font-size: 14px;
	letter-spacing: 0.5px;
  	-webkit-transition: color 2s, background 1s;
  	transition: color 2s, background 1s;
  	

  	z-index: 0;
}
nav a.active {
 
  color: #fff;
    font-size: 30px

}

nav a:hover {
	color: #219e9f
    
}
nav ul {
     margin-top: 0px; 
     padding-left: 0px;

/*end nav*/
.slides {
  width: 500vw;
  height: 100vh;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}
.slides .slide {
  height: 100vh;
  width: 100vw;
  float: left;
  text-align: center;
  background-size: cover;
}
.slides .slide .content {
  overflow-y: scroll;
  position: relative;
  width: 70%;
  height: 80%;
  left: 30%;
  top: 10%;
  bottom: 10%;
  background: rgba(0, 0, 0, 0.5);
}
.content::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}
/* Add a thumb */
.content::-webkit-scrollbar-thumb {
    background: rgba(250, 250, 250, 0.5);
}

.slides .slide:nth-child(1) {
  background-image: url(../img/first_bg.jpg);
}
.slides .slide:nth-child(2) {
  background-image: url(../img/second_bg.jpg);
}
.slides .slide:nth-child(3) {
  background-image: url(../img/third_bg.jpg);
}
.slides .slide:nth-child(4) {
  background-image: url(../img/fourth_bg.jpg);
 }
.slides .slide:nth-child(5) {
  background-image: url(../img/fifth_bg.jpg);
}
.slides .slide img {
  width: 100%;
}


.main-btn a:hover {
	background-color: #fff;
	color: #232323!important;
}


.first-content {
	padding: 100px;
	text-align: left;
	padding-top: 13%;
}

.first-content .author-image img {
	margin-top: 10px;
	border-radius: 70px;
	max-width: 100%;
	overflow: hidden;
	float: left;
	margin-right: 35px;
    opacity: .5
}

.first-content h2 {
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.5px;
	border-bottom: 2px solid #fff;
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: 20px;
	margin-top: 0px;
}

.first-content p {
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 2px;
	line-height: 26px;
	margin-bottom: 20px;
}

.first-content em {
	font-style: normal;
	font-weight: 600;
}

.first-content .main-btn {
	display: inline-block;
	margin-right: 15px;
}

.first-content .main-btn a {
	display: inline-block;
	border: 2px solid #fff;
	padding: 8px 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
	transition: all 0.5s;
}

.first-content .fb-btn {
	display: inline-block;
}

.first-content .fb-btn a {
	display: inline-block;
	background-color: #fff;
	border: 2px solid #fff;
	padding: 8px 15px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #232323;
	text-decoration: none;
	transition: all 0.5s;
}

.first-content .fb-btn a:hover {
	color: #fff;
	background-color: transparent;
}
/*end home slid*/
/*about*/
.second-content .container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}

.second-content .container-fluid .col-md-6 {
	padding-right: 0px;
	padding-left: 0px;
}

.second-content .right-image img {
	max-width: 100%;
	min-width: 100%;
	overflow: hidden;
	float: right;
}

.second-content .left-content {
	padding: 60px;
	text-align: left;
}

.second-content h2 {
	font-size: 26px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.5px;
	border-bottom: 2px solid #fff;
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top: 0px;
}
.second-content h3 {
    font-size: 17px;
    font-weight: bold;
    color: darkcyan;
}

.second-content p {
	font-size: 11px;
	color: #fff;
	letter-spacing: 0.5px;
	font-weight: 300;
	line-height: 24px;
	margin-bottom: 10px;
}

.second-content a {
	color: #fff;
	text-decoration: underline;
}


/*skills*/

.second-content  .my-skill{
      width:60%;
      float: left;
    margin-top: 50px
}
.second-content  .my-skill h3{
    color: #fff;
    text-align: left;
    font-weight: normal
}

.second-content .my-skill .tech{margin-left:40px}
.second-content .my-skill .tech div{
	 background-color: antiquewhite;
	 height:15px;
      -webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	       -moz-border-radius-topright: 20px;
	    -moz-border-radius-bottomright: 20px;
	           border-top-right-radius: 20px;
	        border-bottom-right-radius: 20px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;

}
.second-content .my-skill .tech div span{
	background-color: darkcyan;
	height:15px;
	display:block;
	line-height:15px;
	text-align:right;
	color:white;
    
     animation: 3s ease-in-out infinite loading ;
    
  transform-origin: 0%;
    
      -webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
}
@keyframes loading {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(100%);
  }
}
        

/*end of about*/

/*start service*/

.slide .third-content h2{color: #fff;font-weight: bold;margin-bottom: 100px;margin-top: 50px}
.slide .third-content i {
     
    width: 50px;
    height: 50px;
    line-height: 48px;
    color: darkcyan;
    border: 2px solid darkcyan;
    border-radius: 50%
}
.slide .third-content h3{color: #fff;}
.slide .third-content p{
    color: grey;
    font-size: 15px
}
.slide .third-content .x{color: darkcyan}
.slide .third-content  .a{
    color: #ccc;
     width: 40px;
    height: 40px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-left: 430px
}
.slide .third-content  .b{
    color: #ccc;
     width: 40px;
    height: 40px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-left: 430px;
    padding-right: 7px;
    padding-top: 5px
}
.slide .third-content  .c{
    color: #ccc;
     width: 40px;
    height: 40px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-left: 430px;
    padding-right: 7px;
     padding-top: 5px
}

.slide .third-content  .a:hover{
    background-color: #3b5999
}
.slide .third-content  .b:hover{
    background-color: #bd081c}
.slide .third-content  .c:hover{
    background-color: #410093}
/*end service*/
/*start port*/

.fourth-content {
	padding: 5px;
}
.slide .fourth-content h2{color: #fff;font-weight: bold;margin-bottom: 40px}

.fourth-content .container-fluid {
	padding-right: 15px;
	padding-left: 15px;
}

.fourth-content .container-fluid .col-md-4 {
	padding-right: 0px;
	padding-left: 0px;
}

.fourth-content .item {
	margin: 10px;
}

.fourth-content .item img {
	max-width: 100%;
	overflow: hidden;
}

.fourth-content .item .thumb {
	position: relative;
}

.fourth-content .item .hover-effect {
	text-align: left;
	position: absolute;
	color: #fff;
	background-color: rgba(0,0,0,0.95);
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.8s;
}

.fourth-content .item:hover .hover-effect {
	opacity: 1;
	visibility: visible;
}

.fourth-content .item .hover-effect .hover-content {
	transform: translateY(-50%);
    position: absolute;
    text-align: left;
    width: 100%;
    top: 50%;
    left: 0;
    padding: 30px;
}

.fourth-content .item .hover-effect h2 {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.5px;
	border-bottom: 1px solid #fff;
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top: 0px;
}

.fourth-content .item .hover-effect p {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	line-height: 22px;
	padding-bottom: 0px;
	margin-bottom: 0px;
    
  
}
  .fourth-content .item .image{
     cursor: pointer
}

/*end port*/

/*footer*/

.footer .content {
	left: 30%;
	width: 70%;
	max-width: 70%;
	position: absolute;
	bottom: 0;
	right: 0;
	display: inline-block;
}
.footer .content  .a , .b, .c{
    float: right;
	font-size: 19px;
	color: #fff;
    z-index: 99999;
    width: 40px;
    height: 40px;
    line-height: 35px;
    border: 2px solid #fff;
    border-radius: 50%;
    padding-left: 10px;
    margin-right: 20px;
    margin-bottom: 7px;
    cursor: pointer;
   
}
.footer .content  .a{ /*f*/
    margin-right: 60px;
    padding-left: 12px
}
.footer .content  .a:hover{
    background-color: #3b5999
}
.footer .content  .b{/*g*/
    background-color: #
}
.footer .content  .b:hover{
    background-color: #bd081c}

.footer .content  .c{/*y*/
    padding-top: 3px
}
.footer .content  .c:hover{
    background-color: #410093}

.footer .content p {
	text-align: left;
	font-size: 13px;
	color: #fff;
    position: absolute;
    top:15px
}




/* REPONSIVE */

@media (max-width: 991px) {

	nav ul {
  		margin-left: 25px;
  	}

	.first-content {
		text-align: center;
		padding: 50px;
	}

	.first-content .author-image img {
		max-width: 195px;
		float: none;
		margin-right: 0px;
		margin-bottom: 30px;
	}

	.third-content .first-section {
		border-bottom: 1px solid rgba(250,250,250,0.3);
		padding-bottom: 45px;
		margin-bottom: 45px;
	}

	.third-content .first-section .left-content {
		margin-right: 0px;
		margin-bottom: 30px;
	}

	.third-content .first-section .right-image {
		margin-left: 0px;
	}

	.third-content .second-section .right-content {
		margin-left: 0px;
		margin-top: 30px;
	}


	.third-content .second-section .left-image {
		margin-right: 0px;
	}

	.fifth-content #map {
		padding: 30px 30px 30px 30px;
	}

	.fifth-content #contact {
		padding: 30px 30px 30px 30px;
	}

}

@media (max-width: 749px) {

	nav {
		width: 15vh;
	}

	nav .logo {
		display: none;
	}

	nav .mini-logo {
		margin-top: 60px;
		display: block;
	}

	nav ul {
		text-align: center;
		margin-left: 0px;
	}


	nav ul li em {
		display: none;
	}

	nav ul li i {
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
	}

	.first-content {
		padding: 30px 5px;
	}

	.first-content .main-btn {
		display: inline-block;
		margin-right: 0px;
		margin-bottom: 15px;
	}

	.second-content .left-content {
		padding: 30px;
		text-align: left;
	}

	.fourth-content .item .hover-effect h2 {
		font-size: 15px;
	}


	.fifth-content #map {
		padding: 15px 15px 15px 15px;
	}

	.fifth-content #contact {
		padding: 15px 15px 15px 15px;
	}
       .slide .third-content  .a{
    color: #ccc;
     width: 40px;
    height: 40px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-left: 50px
}
.slide .third-content  .b{
    color: #ccc;
     width: 40px;
    height: 40px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-left: 50px;
    padding-right: 7px;
    padding-top: 5px 
}
.slide .third-content  .c{
    color: #ccc;
     width: 40px;
    height: 40px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-left: 50px;
    padding-right: 7px;
    padding-top: 5px;
    
}
.footer .content{display: none}
}

@media(max-width: 450px) {
	nav ul {
		margin-top: 30px;
	}
	nav ul li {
		margin: 10px 0px;
	}
	nav a {
	  	padding: 15px 20px;
	}
    
    .slide .third-content  .a{
    color: #ccc;
     width: 40px;
    height: 40px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-left: 50px
}
.slide .third-content  .b{
    color: #ccc;
     width: 40px;
    height: 40px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-left: 50px;
    padding-right: 7px;
    padding-top: 5px 
}
.slide .third-content  .c{
    color: #ccc;
     width: 40px;
    height: 40px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-left: 50px;
    padding-right: 7px;
    padding-top: 5px;
    
}


    
    .footer .content{display: none}
}