.gallery h2{
    font-weight: bold;
}
#call{
    position: fixed;
    right: 5px;
    bottom: 60px;
    
    }
    #call a{
        color: #ca2c1f;
    }
    #whats a{color: green;}
    #whats{
        position: fixed;
        right: 5px;
        bottom: 10px;
    }