body{
    direction: rtl;
    font-family: 'Almarai', sans-serif;
    overflow-x: hidden;
    text-align: right;
}
.gallery  .image-box img{
    width: 100%;
    height: 200px;
}


    .footer ul li a{
        color: #fff;
        }
        .footer ul li a:hover{
            text-decoration: none;
            color: #ca2c1f;
            }