/*phone screen*/
@media screen and (max-width:568px)
{
    .dolma-content .logo .my-logo{
        width:230px;
         height:230px;}


         .dolma-content .text{
            font-size: 18px;
        }
        /* .insta i{
            top: 230px;
        }
        .snap img{
            top: 301px;
        }
        .whats i{
            top: 336px;
        } */


}
/* smallest phone */
@media screen  and (max-width:326px)
{
    .insta i{
        top: 346px;
        left: 70px;
    }
    .snap img{
        top: 296px;
       
        left: 70px;
    }
    .whats i{
        top: 388px;
        left: 70px;
    }
}
/* phone */
@media screen and (min-width:327px) and (max-width:425px)
{
    .snap img{
        top: 296px;
        left: 70px;
    }
    .insta i{
        top: 342px;
      
        left: 70px;
    }
   
    .whats i{
        top: 390px;
        left: 70px;
    }
}


/*medium tablet*/
@media screen and (min-width:569px) and (max-width:769px)
{
  
}

/*larg*/
@media screen and (min-width:769px) and (max-width:992px)
{

}
/*extra larg*/
@media screen and (min-width:993px)
{
    
}