.navbar-light .navbar-nav .nav-link {
    color: #044a95;
    
}

.breadcrumb{margin-top: 80px;}
ol .breadcrumb{margin: 80px 0 0;}
.nabza-content{padding-top: 40px;padding-bottom: 130px;}
.nabza-content .image{padding-top: 30px}