body{
    font-family: 'Cairo', sans-serif;
    overflow-x: hidden;
    background-color: #edb6d1;
    height: 20000px;
}
p,h1,h2,h3,h4,h5,span{
    font-weight: bold;
}
/* start first sec */
.order{
    background-color: #b9b0f1;
    min-height: 230px;
	overflow-x: hidden;

}

.order p{
    font-weight: bold;
    font-size: 25px;
}
#countdown{
	overflow: hidden;
	width: 205px;
	height: 122px;
	text-align: center;
	background: #222;
	background-image: -webkit-linear-gradient(top, #222, #333, #333, #222); 
	background-image:    -moz-linear-gradient(top, #222, #333, #333, #222);
	background-image:     -ms-linear-gradient(top, #222, #333, #333, #222);
	background-image:      -o-linear-gradient(top, #222, #333, #333, #222);
	border: 1px solid #111;
	border-radius: 5px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
	margin: auto;
    margin-top: 10px;
	padding: 24px 0;
	position: absolute;
  top: 0; bottom: 0; left: -130px; right: 0;
}


#countdown #tiles{
	position: relative;
	z-index: 1;
}

#countdown #tiles > span{
	width: 62px;
	max-width: 62px;
	font: bold 40px 'Droid Sans', Arial, sans-serif;
	text-align: center;
	color: #111;
	background-color: #ddd;
	background-image: -webkit-linear-gradient(top, #bbb, #eee); 
	background-image:    -moz-linear-gradient(top, #bbb, #eee);
	background-image:     -ms-linear-gradient(top, #bbb, #eee);
	background-image:      -o-linear-gradient(top, #bbb, #eee);
	border-top: 1px solid #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
	margin: 0 7px;
	padding: 25px 0;
	display: inline-block;
	position: relative;
}

#countdown #tiles > span:before{
	content:"";
	width: 40%;
	height: 13px;
	background: #111;
	display: block;
	padding: 0 3px;
	position: absolute;
	top: 41%; left: -3px;
	z-index: -1;
}

#countdown #tiles > span:after{
	content:"";
	width: 40%;
	height: 1px;
	background: #eee;
	border-top: 1px solid #333;
	/* display: block;
	position: absolute;
	top: 48%; left: 0; */
}

#countdown .labels{
	width: 100%;
	height: 15px;
	text-align: center;
	/* position: absolute;
	bottom: 8px; */
}

#countdown .labels li{
	width: 80px;
    padding: 10px;
	font: bold 15px 'Droid Sans', Arial, sans-serif;
	color: #fff;
	text-shadow: 1px 1px 0px #000;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
}
/* end first sec */

/* second sec */
.des{
    background-color: #000;
	overflow-x: hidden;
}
.des p{
    font-weight: bold;
    font-size: 34px;
}
/* sec section */
/* start defination */
.define-prod .prod-name{
	background-color: #ec2465;

}

.define-prod .prod-name h3 span{
	
	color: #fff;
}
.define-prod .prod-name h3 .part1{
	
	font-size: 90px;
}
.define-prod .prod-name h3 .part2{
	
	font-size: 70px;
}
.define-prod .prod-namedetail h3{
	color: #764794;
	font-size: 70px;
}
/*  end defination */


/* start certificate */
.sponsor{
	overflow: hidden;
}
.sponsor p{
   font-size: 30px; 
   color:#f71db9
   
}
/* .sponsor .sponserlogo{
	height: 100px;
} */
.sponsor .sponserlogo img{
    width: 100%;
}
/* end certificate */
/* third section */
.product-info{
	overflow-x: hidden;
    position: relative;
    z-index: 9999999999999;
}
.blob1{
    width: 150px;
    height: 150px;
    position: absolute;
    top:0%;
    left: -80px;
    z-index: 5;
}
.blob2{
    width: 150px;
    height: 150px;
    position: absolute;
    top:0%;
    right: -80px;
    z-index: 5;
}
.product-info h4{
    font-size: 56px;
    color: #5e51a9;
}
.product-info h2{
    font-size: 90px;
    color: #f71db9;
}
.my-desc{
    font-size: 40px;
    margin-top: -20px;
	color: #5e51a9;
}

/* third sec */
/* sec four */
.images{
	overflow-x: hidden;
}
/* sec four */
/* section five */
.parts{
	overflow-x: hidden;
}
.parts h2{
    font-weight: bold;
    font-size: 50px;
    color: #ec2465;
}
.parts p{
    font-weight: bold;
    font-size: 40px;
	color: #5e51a9;
}
/* section five */
/* /sec six */
.whitning-part{
	overflow-x: hidden;
}
/* sec six */
/* /sec seven */
.use-product{
	overflow-x: hidden;
	background-color: #ec3a74;
	color: #fff;
	
}
.use-product h2{
	font-size: 50px;
}
/* sec seven */

/* sec nine */
.prod-gradients{
	overflow-x: hidden;

}
.prod-gradients .prod-details
{
	background-color: #9791c1;
}
.prod-gradients .prod-details p
{
font-size: 40px;
}
/* sec nine */
/* sec certif */
.information h2{
font-size: 45px;
color:#f71db9
}
.information p{
	font-size: 35px;
	color:#fff
	}
	.information .desc{
		background-color: #9791c1;
	}
	.information .desc p{
		color: #fff;
		font-size: 40px;
	}
	

/* sec certif */

























